@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins&display=swap');

/* general */
html {
  margin: 0!important;
  padding: 0!important;
}

body{
    /* --bs-body-bg:#fb0484; */
    background-color:#ff0087;
    font-family: 'Poppins', sans-serif;
}

h1,h2,h3,h4,h5{
  color: #2601e7;
  font-family: 'Abril Fatface', cursive;
}

p, .counter{
  color: #2601e7;
  font-size: 20px;
}

/* home */
.home{
  color: #2601e7;
  font-size: 2.8rem;
}

#challenge img {
    margin-top: 1.5rem;
    /* width: 480px;
    height: 270px; */
}

#challenge p {
  font-size: 23px;
  font-weight: 600;
  margin-left: 2.2rem;
  margin-right: 2.2rem;
}

@media screen and (min-width: 767px){
  .home{
    font-size: 75px;
  }
}

.text{
  font-size: 25px;
  color: #2601e7;
}

/* btn themes */
.btn-blue{
  background-color: #2601e7;
  border-color: #2601e7;
  color: #fff;
}

.btn-pink{
  background-color: #ff006f;
  border-color: #ff006f;
  color: #fff;
}

.btn-green{
  background-color: #a0d700;
  border-color: #a0d700;
  color: #fff;
}

.btn-aqua{
  background-color: #00b6a6;
  border-color: #00b6a6;
  color: #fff;
}

.btn-purple {
  background-color: #3d0077;
  border-color: #3d0077;
  color: #fff;
}

.btn-lightpurple {
  background-color: #5600d7;
  border-color: #5600d7;
  color: #fff;
}

.btn-lightblue {
  background-color: #0088fe;
  border-color: #0088fe;
  color: #fff;
}

.btn-orange {
  background-color: #ff723d;
  border-color: #ff723d;
  color: #fff;
}

.btn-lightorange {
  background-color: #ff9501;
  border-color: #ff9501;
  color: #fff;
}

.btn-darkpink {
  background-color: #760147;
  border-color: #760147;
  color: #fff;
}

.btn-lightpink {
  background-color: #d700d7;
  border-color: #d700d7;
  color: #fff;
}

.btn-mintgreen {
  background-color: #00fa74;
  border-color: #00fa74;
  color: #fff;
}

.btn-darkyellow {
  background-color: #d6c109;
  border-color: #d6c109;
  color: #fff;
}

.btn-kiwi {
  background-color: #5acb0f;
  border-color: #5acb0f;
  color: #fff;
}

.btn-leafgreen {
  background-color: #1ea020;
  border-color: #1ea020;
  color: #fff;
}

.btn-sky {
  background-color: #2dbaba;
  border-color: #2dbaba;
  color: #fff;
}

/* btn */
.btn{
  font-size: 1.3rem !important;
}

#challenge #btn-div {
  font-size: 1.3rem;
}

/* sidenav */
#header .sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: black !important;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  text-align: end;
}

#header .nav-width {
  width: 320px;
}
#header .sidenav a {
  padding: 8px 30px 20px 45px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

#header .sidenav a:last-child {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 18px;
}

#header .sidenav a:hover {
  color: #f1f1f1;
}
#header input[type=checkbox]:checked ~ #sidebarMenu {
  transform: translateX(0);
}
#header input[type=checkbox] {
  transition: all 0.6s;
  box-sizing: border-box;
  display: none;
}
#header .sidebarIconToggle {
  transition: all 0.6s;
  box-sizing: border-box;
  cursor: pointer;
  position: absolute;
  z-index: 99;
  height: 100%;
  width: 100%;
  top: 30px;
  right: 30px;
  height: 22px;
  width: 30px;
}
#header .spinner {
  transition: all 0.6s;
  box-sizing: border-box;
  position: absolute;
  height: 4px;
  width: 100%;
  background-color: #2601e7;
}
#header .horizontal {
  transition: all 0.6s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 5px;
}
#header .diagonal.part-1 {
  position: relative;
  transition: all 0.6s;
  box-sizing: border-box;
  float: left;
}
#header .diagonal.part-2 {
  transition: all 0.6s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 5px;
}
#header input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
  transition: all 0.6s;
  box-sizing: border-box;
  opacity: 0;
  background-color: white !important;
}
#header input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
  transition: all 0.6s;
  box-sizing: border-box;
  transform: rotate(135deg);
  margin-top: 8px;
  background-color: white !important;
}
#header input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
  transition: all 0.6s;
  box-sizing: border-box;
  transform: rotate(-135deg);
  margin-top: -12px;
  background-color: white !important;
}
#header .vh-85 {
  height: 85vh;
}
#header #mouse {
  animation: mouse-animate 5s infinite;
}

/* countdown */

#countdown {
  text-align: center;
  font-size: 60px;
  margin-top: 0px;
  color: white;
}

/* modal styling */

#myModal p {
  font-size: 20px;
  font-weight: 400;
}

#myModal h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

/* modaltext */
.modaltext {
  color: white;
 }
 
 /* The Modal (background) */
 .modal {
   display: none; /* Hidden by default */
   position: fixed; /* Stay in place */
   z-index: 1; /* Sit on top */
   padding-top: 100px; /* Location of the box */
   left: 0;
   top: 0;
   width: 100%; /* Full width */
   height: 100%; /* Full height */
   overflow: auto; /* Enable scroll if needed */
   background-color: rgb(0,0,0); /* Fallback color */
   background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
 }
 
 /* Modal Content */
 .modal-content {
   background-color: #201c1c;
   margin: auto;
   padding: 20px;
   border: 1px solid;
   width: 90%;
 }
 
 /* The Close Button */
 .close {
   color: white;
   font-size: 35px;
   font-weight: bold;
   text-align: right;
 }
 
 .close:hover,
 .close:focus {
   color: #000;
   text-decoration: none;
   cursor: pointer;
 }

 @media screen and (min-width: 767px){
  .home{
    font-size: 75px;
  }
  .modal-content{
    width: 29%;
  }
}

@keyframes mouse-animate {
  0% {
    transform: translateY(0%);
  }
  25% {
    transform: translateY(35%);
  }
  50% {
    transform: translateY(0%);
  }
  75% {
    transform: translateY(35%);
  }
  100% {
    transform: translateY(0%);
  }
}

@media screen and (max-height: 450px) {
  #header .sidenav {
    padding-top: 15px;
  }
  #header .sidenav a {
    font-size: 18px;
  }
}

